*{
    box-sizing: border-box;
}
body{
    font-family: vazir;
}
.textresponsive{
    background-color: #333 !important;
}
.displayblock{
    display: none;
}
@media only screen and (max-width:768px) {
    .media{
        display: none;
    }
    .textresponsive{
        width: 100%;
    }
    .displaynone{
        display: none;
    }
    .displayblock{
        display: block;
    }
}
.bg3{
    background-color: #333;
    color: #fff;
}